.navbar {
  min-height: 59px;
  border-radius: 0px;
  /*border-bottom: 2px solid #000;*/
  /*border-color: #e7e7e7;*/
}


.navbar-default{
  border-color: #fff;
}

.btn-default {
  color: #333;
  background-color: #ccc;
  border-color: #000;
  /*text-shadow: 0.5px 0.5px;*/
  /*box-shadow: 1.5px 1.5px #e6e6e6;*/
}

.ad{
  height: 240px;
  margin-left: 10px;
  display: table;
  padding: 1px;
  color: #ffffff;
  text-align: center;
  background: #777777;
}
.ad-inner{
  display: table-cell;
  vertical-align: middle;
}
.calculator{
  background: none;
  min-height: 264px;
}
.calc-section{
  margin-bottom: 17px;
  padding-bottom: 17px;
}
.bottom-10{
  margin-bottom: 10px;
}

.div-footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 17px;
  margin-top: 17px;
  padding-top: 17px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /*width: 1200px;*/
  margin: 5px auto 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 20px 0px 40px;
}
.marketing p + h4 {
  margin-top: 28px;
}

.marketing h4 {
  font-size: 22px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
