<div class="col-md-12 well calculator" data-ng-controller="CalculatorCtrl as calc">
  <div class="calc-section" data-ng-if="calc.step ==1">
    <h4 style="text-align: center; margin-top: 0px;">Step 1 : Select your shape</h4>
    <p>
      Please select the shape that you would like to calculate the area of and press the button "Go to step 2"
    </p>
    <form name="selectShape">
      <div class="form-group" style="margin-left: 10px;">
        <div class="radio">
          <label><input type="radio" ng-model="calc.shape" value="rectangle"> Rectangle</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="calc.shape" value="circle"> Circle</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="calc.shape" value="square"> Square</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="calc.shape" value="ellipse"> Ellipse</label>
        </div>
      </div>
    </form>
  </div>
  <div class="calc-section" data-ng-if="calc.step ==2">
    <h4 style="text-align: center; margin-top: 0px;">Step 2 : Insert your values</h4>
    <p>
      You have selected a {{calc.shape}}, please input the required variables.
    </p>
    <form name="selectDimention">
      <div class="form-group" style="margin-left: 10px;">
        <div data-ng-if="calc.shape == 'circle'">
          <div class="col-md-3 bottom-10">
            <label>Daimeter:</label>
          </div>
          <div class="col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.diameter" ng-required="true">
          </div>
        </div>
        <div data-ng-if="calc.shape == 'rectangle'">
          <div class="col-sm-12 col-md-3 bottom-10">
            <label>Length:</label>
          </div>
          <div class="col-sm-12 col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.length" ng-required="true">
          </div>
          <div class="col-sm-12 col-md-3 bottom-10">
            <label>Breadth:</label>
          </div>
          <div class="col-sm-12 col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.breadth" ng-required="true">
          </div>
        </div>
        <div data-ng-if="calc.shape == 'square'">
          <div class="col-sm-12 col-md-3 bottom-10">
            <label>Side:</label>
          </div>
          <div class="col-sm-12 col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.side" ng-required="true">
          </div>
        </div>
        <div data-ng-if="calc.shape == 'ellipse'">
          <div class="col-sm-12 col-md-3 bottom-10">
            <label>Height:</label>
          </div>
          <div class="col-sm-12 col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.radius1" ng-required="true">
          </div>
          <div class="col-sm-12 col-md-3 bottom-10">
            <label>Width:</label>
          </div>
          <div class="col-sm-12 col-md-9 bottom-10">
            <input class="form-control" type="number" ng-model="calc.dimentions.radius2" ng-required="true">
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="calc-section" data-ng-if="calc.step ==3">
    <h4 style="text-align: center; margin-top: 0px;">Step 3 : Your results</h4>
    <p>
      You have calculated the area of a {{calc.shape}} with {{calc.shape=='circle' ? 'a diameter of ' + calc.dimentions.diameter : calc.shape=='rectangle' ? 'a length of ' + calc.dimentions.length + ' and a breadth of ' + calc.dimentions.breadth : calc.shape=='square' ? 'a side of ' + calc.dimentions.side : calc.shape=='ellipse' ? 'a height of ' + calc.dimentions.radius1 + ' and a width of ' + calc.dimentions.radius2 : 'undefined'}}. Below is your result:
    </p>
    <br>
    <h4 style="text-align: center">The Area is {{calc.area}}.</h4>
    <br>
  </div>
  <div class="div-footer" style="">
    <button class="btn btn-default" data-ng-click="calc.moveToNextStep(calc.step)" ng-disabled="calc.checkDisabled(calc.step)">{{calc.step<3 ? 'Go to step ' + calc.nextStep : 'Start over'}}</button> <span style="margin-left: 15px;" data-ng-hide="calc.step==3">or <a data-ng-click="calc.cancel()">Cancel</a></span>
  </div>


</div>
